<p class="bg-warning">This is an experimental area focused on front-end implementation challenges. The content is likely outdated and things won't always match up.</p>

<h1>Halo World</h1>

<div>
<kbd>
$ more code-samples.txt
</kbd>
</div>	
<div>
<samp>
//= require example
</samp>
</div>

<h2 name="HTTPRESTRequests">HTTP REST Requests</h2>
<table class="table">
<thead>
	<tr>
	<th class="col-md-1">Request</th>
	<th class="col-md-6">Description</th>
	<th class="col-md-5"></th>
	</tr>
</thead>
<tr>
	<td class="caps">Get</td>
	<td>Retrieve single resource or list of resources from a collection. 
	<br>Query string parameters should allow list filtering.</td>
	<td><samp>GET /datacenters?region=EUROPE&amp;lname=Tes</samp></td>
</tr>
<tr>
	<td class="caps">Post</td>
	<td>Creates a new resource.<br>
	The “Location” HTTP header should return a URL to the newly created resource.</td>
	<td></td>
</tr>
<tr>
	<td class="caps">Put</td>
	<td>Update an existing object.</td>
	<td></td>
</tr>
<tr>
	<td class="caps">Delete</td>
	<td>Delete an existing resource.</td>
	<td></td>
</tr>
<tr>
	<td class="caps">Options</td>
	<td>Returns the “Allow” HTTP header identifying which HTTP requests are permitted against specified resource.</td>
	<td></td>
</tr>

</table>

<div ng-repeat="specification in lorem.specifications">
	<h2 name="{{specification.name}}">{{specification.name}}</h2>
	<p>{{specification.content}}</p>
</div>
 