<div ng-repeat="specification in lorem.specifications">
	<h1 id="#{{specification.name}}">{{specification.name}}</h1>
	<p>{{specification.content}}</p>
</div>

<h1>Phasellus vitae</h1>
<p>ipsum congue dui cursus lacinia at a risus. Nunc nibh sem, elementum in metus nec, pharetra fermentum mi. Proin porta dolor mauris, at molestie nulla vulputate vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel urna velit. Integer tristique sem non nunc volutpat, sed facilisis sapien consequat. Donec risus neque, adipiscing eget lacinia in, tempus id arcu.
</p>
<h1>In hac</h1>
<p>habitasse platea dictumst. Duis non lectus in diam pellentesque interdum ut eget risus. Nulla congue sit amet libero et sagittis. Donec et adipiscing elit. Cras ligula lacus, eleifend non rutrum eu, sollicitudin eget tortor. Sed euismod lorem nec ante facilisis feugiat. Aenean porta elit eu cursus mattis.
</p>
<h1>Nullam pellentesque</h1>
<p>eleifend enim vitae euismod. Aenean dapibus arcu tincidunt, euismod felis vitae, feugiat massa. Ut sit amet dolor sapien. Morbi malesuada mollis arcu ac dictum. Nunc sagittis consequat augue. Pellentesque placerat hendrerit quam. Praesent sed ante est.
</p>
<h1>Donec eget enim</h1>
<p>vitae est facilisis pharetra. In facilisis hendrerit luctus. Etiam neque elit, posuere vitae pellentesque sit amet, consequat non nunc. Donec tempus ante at quam dictum imperdiet. Nulla magna mi, rhoncus ut semper nec, molestie vitae dolor. Integer et libero felis. Fusce et bibendum urna, a vehicula felis. Cras in purus at lacus suscipit accumsan eu et dui. Aenean elementum, lacus porta lacinia aliquam, quam mi vehicula libero, viverra ullamcorper velit purus nec libero.
</p>